*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

/* Page is fullscreen */
.page {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
}

.parts-2 {
    overflow: visible;
    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.home-banner {
    background-image: url(/assets/home-banner.svg);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0.25vh 0.5vh 0.5vh #000);
    margin-top: 15%;
}

.home-button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fc0;
    background: linear-gradient(70deg, #f00, #d00);
    border: 0 none;
    transition: background 0.3s ease-in-out;
    font-family: 'Orbitron';
    margin-top: -5%;
    filter: drop-shadow(0.25vh 0.5vh 0.5vh #000);
}

#profile-image {
    background-image: url(/assets/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0.25vh 0.5vh 0.5vh #000);
    cursor: pointer;
}

.home-button {
    cursor: pointer;
}

.home-banner p {
    text-align: center;
}

.home-buttoncontainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.home-buttoncontainer {
    transition: filter 0.5s ease, transform 0.3s ease;
}

.home-buttoncontainer:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

@media only screen
and (orientation: portrait)
{
    .page {
        flex-direction: column;
    }
    .parts-2.home {
        height: 50vh;
        width: 100%;
        display: flex;
    }
    #profile-image {
        height: 70vw;
        width: 70vw;
        max-height: 35vh;
        max-width: 35vh;
        border-radius: 35vw;    
    }
    .home-banner {
        height: 87vw;
        width: 100vw;
        max-height: 43.5vh;
        max-width: 50vh;
        margin-top: 6.5vh;
    }
    .home-buttoncontainer {
        margin-bottom: 15.5vh;
    }
    .home-button {
        font-size: 8vw;
        padding: 1vh 2vh;
        border-radius: 2vh;
    }    
}

@media only screen
and (orientation: landscape)
{
    .page {
        flex-direction: row;
    }
    .parts-2.home {
        height: 100vh;
        width: 50vw;
        display: inline-flex;
    }
    #profile-image {
        height: 60vh;
        width: 60vh;
        max-height: 40vw;
        max-width: 40vw;
        border-radius: 30vh;  
    }
    .home-banner {
        height: 87vh;
        width: 100vh;
        max-height: 43.5vw;
        max-width: 50vw;
        margin-top: 5%;

        //margin-top: 6.5vh;
    }
    .home-button {
        font-size: 8vh;
        padding: 1vw 2vw;
        border-radius: 2vw;
    }
}

@media only screen
and (orientation: landscape)
and (max-aspect-ratio: 10/6)
{
    .home-button {
        font-size: 6vh;
    }
}








/* Maasai Investments */
.content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom right, #6A0DAD 0%, #BE0A26 100%);
}

.content::before {
    content: "";
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
}

.content::before {
    background: linear-gradient(to bottom, #000 0%, transparent 2%, transparent 98%, #000 100%);
}

.content:first-child::before {
    background: linear-gradient(to bottom, transparent 0%, transparent 98%, #000 100%);
}

.content:last-child::before {
    background: linear-gradient(to bottom, #000 0%, transparent 2%, transparent 100%);
}

.background-image {
    object-fit: cover; 
    opacity: 0.2; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0;    
}



/* contact page */
.page#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page#contact .centerform {
    background: linear-gradient(to bottom, #eee, #ccc); /* Gradient background */
    color: #444; /* Text color */
    padding: 5vw;
    border-radius: 5vw; /* Rounded corners */
    filter: drop-shadow(0.25vh 0.5vh 0.5vh #000);
    width: 70%;
  }
  
  .page#contact .centerform .inner {
    padding-left: 5%;
    padding-right: 5%;
  }

  .page#contact .centerform .inner h1, 
  .page#contact .centerform .inner p {
    text-align: center;
    font-size: 6vw;
  }

  .page#contact .section:first-of-type {
    margin-bottom: 5vh; /* Spacing between sections */
  }
  
  /* Landscape mode */
  @media only screen and (orientation: landscape) {
    .page#contact .centerform {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      padding: 5vh;
      border-radius: 5vh;
    }
    
    .page#contact .section:first-of-type {
        margin-bottom: 0; /* Spacing between sections */
        margin-right: 5vw; /* Spacing between sections */
      }
    
    .page#contact .section {
      width: 48%; /* Adjust width based on your preference */
    }


    .page#contact .centerform .inner h1, 
    .page#contact .centerform .inner p {
      text-align: center;
      font-size: 4vh;
    }

    .page#contact .centerform .inner h1 {
        font-size: 5vh;
    }
  }