<app-navigation [items]="[
    { title: 'Home', routerLink: '', image: '/assets/home.svg', imageHover: '/assets/home_hover.svg' },
    { title: 'About', routerLink: '/about' },
    { title: 'Contact', routerLink: '/contact' }
    ]" />
<div class="page">
    <div class="parts-2 home">
        <div class="home-banner"></div>
    </div>
    <div class="parts-2 home">
        <div class="home-buttoncontainer">
            <div id="profile-image"></div>
            <button class="home-button">Nu Aanmelden</button>
        </div>
    </div>
</div>
<div class="page">
    <div class="parts-2 parts-2-order-1">
        <div class="section">
            <h1>dasdas</h1>
            <p>dsadsa</p>
        </div>
    </div>
    <div class="parts-2 parts-2-order-2">
        <div class="section">

        </div>
    </div>
</div>