<div class="text biggerfont" fittext 
    data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <h4>{{ 'pitchgoat-h4-1' | translate }}</h4>
        <p>{{ 'pitchgoat-p-1' | translate }}</p>
        <p>{{ 'pitchgoat-p-2' | translate }}</p>
        <a class="action" routerLink="invest">{{ 'pitchgoat-a-1' | translate }}</a>
        <a class="info" routerLink="natumi">{{ 'pitchgoat-a-2' | translate }}</a>
    </div>
</div>
<img class="image portrait" src="assets/goat_wide.jpg" data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/goat.jpg" data-aos="zoom-in" data-aos-duration="1500" />