// /* layout */
// .text {
//     top: 25vh;
//     left: 10vw;
//     width: 40vw;
//     height: 45vh;
// }
//  .image {
//     top: 25vh;
//     left: 62vw;
//     width: 29vw;
//     height: 51vh;
// }
// /* portrait */
// @media (min-height: 130vw) {

//     .text {
//        top: 10vh;
//        left: 15vw;
//        width: 65vw;
//        height: 30vh;
//    }
   
//     .image {
//        top: 53vh;
//        left: 15vw;
//        width: 71vw;
//        height: 36vh;
//    }  
// }

/* button colors */
.text button, .text a {
    background: linear-gradient(135deg, #0af, #39f);
    box-shadow: 0 1vw 1.5vw rgba(96, 96, 255, 0.6);
}
 .text button:hover, .text a:hover {
    background: linear-gradient(135deg, #3af, #69f);
}

p
{
    font-family: PlayFairDisplay;
}



h1 {
    font-family: AmaticSCBold;
    position: absolute;
    top: 1.5vh;
    left: 20vw;
    width: 62vw;
    z-index: 10;
    text-align: center;
    font-size: 5vh;
    color: #ff6;
    filter: drop-shadow(0vh 1vh 0.5vh #000);
    pointer-events: none;
}

@media (max-height: 130vw) or (min-width: 768px) {
    h1 {
        width: 60vw;
    }
}

@media (max-height: 130vw) {
    h1 {
        font-size: 8vh;
        top: 0.5vh;
    }
}