<div class="text biggerfont" fittext 
    data-aos="zoom-in" data-aos-duration="1500">
    <div class="text-child">
        <h4>Help Levens Veranderen met een Investering van €35</h4>
        <p>Voor slechts 35 euro kunt u een schaap of geit kopen en beginnen met het verrijken van het leven van Maasai-families en dat van uzelf.</p>
        <p>Met hun inkomsten kunnen ze eten en schoolgeld betalen, terwijl u uw winsten kunt gebruiken om nog meer dieren te kopen!</p>
        <a class="action" href="https://maasaiinvestments.online/invest" target="_blank">Mensen Helpen & Nu Investeren</a>
        <a class="info" href="https://maasaiinvestments.online/" target="_blank" style="margin-left: 5px;margin-right: 5px;">Lees Verder</a>
    </div>
</div>
<img class="image portrait" src="assets/goat.jpg" data-aos="zoom-in" data-aos-duration="1500" />
<img class="image landscape" src="assets/goat.jpg" data-aos="zoom-in" data-aos-duration="1500" />
<h1>Maasai Investments</h1>