button {
    display: none;
}

nav {
  position: fixed;
  z-index: 100;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #FFC; /* Text color */
  font-size: 6vh;
  margin: 1vh 1vw 1vh 1vw;
  transition: color 0.3s ease-in-out;
  font-family: 'Orbitron';
  filter: drop-shadow(0.25vh 0.5vh 0.5vh #000);
}

a:hover {
  color: #FF0;
  transform: scale(1.1);
}

a img {
  height: 6vh;
  width: 6vh;
  cursor: pointer;
}

/* Media Query for Mobile */
@media only screen
  and (((max-width: 1024px) /* max-width for phones and tablets */
    and (max-height: 1024px)) /* max-height for phones and tablets */
  or (orientation: portrait))
  {
  /* Your styles for landscape orientation go here */
  button {
    background-image: url(/assets/menu-bar.svg);
    background-size: contain;
    filter: drop-shadow(0.25vh 0.5vh 0.5vh #000);
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    background-repeat: no-repeat;
    z-index: 100;
    display: block;
  }
  nav {
    /*display: none;*/
    z-index: -10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;    
    position: fixed;
    left: 0;
    width: 100%;
    display: block;
    overflow: auto;
  }
  nav a {
    display: block;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron';
    text-decoration: none;
    color: #FFC; /* Text color in mobile menu */
    background: linear-gradient(to bottom, #555, #333); /* Gradient background */
    filter: drop-shadow(0.25vh 0.5vh 0.5vh #000);
    margin: 0;
  }
  nav.mobile-menu-visible {
    z-index: 90;
    background: linear-gradient(to bottom, #333, #111);
    opacity: 1;
  }
  nav.mobile-menu-visible a:hover {
    background: #555; /* Change background color on hover */
    color: #FF4;
  }
}

/* Media Query for Landscape Orientation */
@media only screen
  and (max-width: 1024px) /* max-width for phones and tablets */
  and (orientation: landscape)
  and (max-height: 767px) /* max-height for phones and tablets */
  {
  /* Your styles for landscape orientation go here */
  button {
    height: 18vh;
    width: 18vh;
    top: 2vh;
    right: 2vh;
    padding: 2vh;
  }
  nav {
    top: 0;
    height: 100%;
  }
  nav a {
    height: 18%;
    font-size: 14vh;
  }
  
  a img {
    height: 14vh;
    width: 14vh;
  }
}

/* Media Query for Portrait Orientation */
@media only screen
  /*and (max-width: 767px) /* max-width for phones and tablets */
  and (orientation: portrait)
  /*and (max-height: 1024px) /* max-height for phones and tablets */
  {
  /* Your styles for portrait orientation go here */
  button {
    height: 18vw;
    width: 18vw;
    top: 2vw;
    right: 2vw;
    padding: 2vw;
  }
  nav {
    top: 0;
    padding-top: 12vh;
    height: 100%;
  }
  nav a {
    height: 12%;
    font-size: 8vh;
  }
}