@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('./assets/fonts/LeagueSpartan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: LeagueSpartan;
    background-image: url(assets/background.jpg);
    background-size: cover;
}
